.mainBody {
    background: linear-gradient(rgb(229, 226, 226), white);
    /*background: url("../images/background.jpg");*/
    /*color: white;*/
}

.logo {
    height: 35px;
    width: 160px;
}
#mainHeader {
    background: linear-gradient(rgb(229, 226, 226), white);
    height: 37px;
    width: 1000px;
    margin: 0 auto;
    box-shadow: 4px 3px 10px -1px rgb(206, 184, 229);
}

.menu {
    float: left;
    height: 36px;
    width: 120px;
    text-align: center;
    line-height: 35px;
    color: slategrey;
    font-weight: bold;
}

.active {
    background: linear-gradient(rgb(161, 161, 161), rgb(218, 218, 218));
    color: white;
    height: 34px;
    margin-top: 2px;
    cursor: pointer;
    box-shadow: 0 -2px 0 0 #BC33FF inset;
}

.menu:hover {
    background: linear-gradient(rgb(249, 247, 247), rgb(218, 218, 218));
    color: black;
    height: 34px;
    margin-top: 2px;
    cursor: pointer;
    box-shadow: 0 -2px 0 0 #BC33FF inset;
}

h3 {
    color: purple;
}

#container {
    height: 1325px;
    width: 100%;
    margin-top: 1%;
    /*border: 2px solid lightslategrey;*/
}

.content {
    /*border: 2px solid darkslategray;*/
    /*height: 100%;*/
    width: 1000px;
    margin-left: 190px;
}
#matter {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 95%;
}

#bodyLeftCol, #bodyMdlCol, #bodyRightCol {
    float: left;
    width: 937px;
    height: 260px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 3px 1px gainsboro;
}

#bodyLeftCol:hover, #bodyMdlCol:hover, #bodyRightCol:hover {
    box-shadow: 0 0 3px 2px rgb(235, 197, 253);;
}

.floatLeft {
    float: left;
}

.horizon {
    margin-top: 30px;
}

.tileContent {
    float: left;
    width: 632px;
    margin-top: 20px;
}

.clsTitle {
    font-size: large;
    font-weight: bold;
    float: left;
    padding-left: 45px;
}

.marginLeftCol {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
    margin-top: 25px;
}

.imgTile {
    height: 260px;
    width: 300px;
    float: left;
}

#matterAbout, #matterServices, #matterClients, #matterContact {
    margin-top: 2px;
    margin-bottom: 15px;
    width: 95%;
}

.aboutImg {
    height: 195px;
    width: 265px;
    margin-left: 20px;
}

#clnt {

    width: 300px;
    height: 300px;
    background-color: rgba(238, 238, 197, 0.07);
    text-align: right;
    box-shadow: 0px 0px 0px #888888;
    margin-left: 45px;
}

.clients {
    background: linear-gradient(rgb(70, 67, 67), rgb(122, 115, 115));
    width: 800px;
    margin-top: 7px;
    height: 167px;
    margin-right: 20px;
    border-bottom-left-radius: 135px;
    border-top-right-radius: 135px;
    box-shadow: 3px 2px 1px #888888;
    margin-bottom: 5px;
    box-shadow: 0px 0px 2px 3px rgb(222, 187, 255);
}


.clientImage {
    float: left;
    height: 175px;
    width: 513px;
    border-bottom-left-radius: 132px;
}
.clientName {
    float: left;
    margin-left: 78px;
    margin-top: 70px;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.inputClass
{
    margin-left: 40px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 10px;

}

.inputClass:focus {
   box-shadow: 0 0 1px 2px lightskyblue;
}

#enquiryform
{
    margin-left: 25px;
    float: left;
    width: 475px;
    height: 375px;
    MARGIN-TOP: 0px;
    box-shadow: 0 0 13px 5px rgb(144, 143, 153) inset;
    background-color: rgb(79, 74, 74);
    padding-left: 15px;
}
#contact {
    margin-right: -40px;
    float: right;
    width: 475px;
    height: 375px;
    MARGIN-TOP: 0px;
    box-shadow: 0 0 13px 5px rgb(144, 143, 153) inset;
    background-color: rgb(79, 74, 74);
    padding-right: 11px;

}
#heading
  {
      olor: coral;
  }
.address
{
        color: wheat;
    }
#pargcontact
{
    color: rgb(209, 65, 99);

}

.saleContainer{

}

.typeContainer{
    height: 225px;
    width: 425px;
    color: white;
    float: left;
    background: linear-gradient(rgb(70, 67, 67), rgb(122, 115, 115));
    margin-right: 19px;
    box-shadow: 0px 0px 2px 3px rgb(222, 187, 255);
    padding-left: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.typeLeft {
    border-bottom-left-radius: 85px;
    border-top-right-radius: 85px;
}

.typeRight {
    border-bottom-right-radius: 85px;
    border-top-left-radius: 85px;
}

.typeContainer h3{
    color: white;
}
.imgContainer{

}

.salesImg{
    height: 120px;
    width: 125px;
}

.iconContainer{
    float: left;
    transform: rotate(-8deg);
    margin-right: 8px;
    box-shadow: 0 0 2px 2px rgb(200, 98, 200);
}
#footer
{
    width: 940px;
    float: left;
    margin-left: 190px;
}

#footerMarque{
    /*width: 935px;*/
}

.mainTileImage {
    height: 235px;
    width: 930px;
}

#salesContent .mainTileImage {
    height: 150px;
    width: 950px;
}

.btn {
    height: 30px;
    width: 125px;
    float: left;
    margin-left: 18px;
    background-color: rgb(64, 75, 194);
    text-align: center;
    line-height: 27px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#submitBtn{
    margin-left: 120px;
}

#resetBtn {
    margin-left: 15px;
}

.btn:hover {
    background-color: rgb(88, 194, 65);
    cursor: pointer;
}
#latterquic
{
    MARGIN-LEFT: 115;
    COLOR: rgb(252, 85, 85);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 12px;
}
.copyright {
    margin-top: 55px;
    margin-left: 242px;
    text-align: center;
    margin-bottom: 10px;
    float: left;
}

#imageSlider {
    width: 980px;
    margin-left: -17px;
}

td {
    color: white;
    font-size: 16px;
}

#txtComments {
    height: 89px;
    width: 280px;
    resize: none;
}