.mainBody {
    background: linear-gradient(rgb(229, 226, 226), white);
}

#mainHeader {
    background: linear-gradient(rgb(229, 226, 226), white);
    height: 37px;
    width: 1000px;
    margin: 0 auto;
    box-shadow: 4px 3px 10px -1px rgb(206, 184, 229);
}

.menu {
    float: left;
    height: 36px;
    width: 120px;
    text-align: center;
    line-height: 35px;
    color: slategrey;
    font-weight: bold;
}

.menu:hover {
    background: linear-gradient(rgb(249, 247, 247), rgb(218, 218, 218));
    color: black;
    height: 34px;
    margin-top: 2px;
    cursor: pointer;
    box-shadow: 0 -2px 0 0 #BC33FF inset;
}

h3 {
    color: purple;
}

#container {
    /*height: 92%;*/
    width: 100%;
    margin-top: 1%;
    /*border: 2px solid lightslategrey;*/
}

.content {
    /*border: 2px solid darkslategray;*/
    /*height: 100%;*/
    width: 1000px;
    margin-left: 190px;
}
#matter {
    margin-top: 2px;
    margin-bottom: 15px;
    width: 95%;
}

#bodyLeftCol, #bodyMdlCol, #bodyRightCol {
    float: left;
    width: 937px;
    height: 260px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 3px 1px gainsboro;
}

#bodyLeftCol:hover, #bodyMdlCol:hover, #bodyRightCol:hover {
    box-shadow: 0 0 3px 2px rgb(235, 197, 253);;
}

.floatLeft {
    float: left;
}

.horizon {
    margin-top: 30px;
}

.tileContent {
    float: left;
    width: 632px;
    margin-top: 20px;
}

.clsTitle {
    font-size: large;
    font-weight: bold;
    float: left;
    padding-left: 45px;
}

.marginLeftCol {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 30px;
    margin-top: 25px;
}

.imgTile {
    height: 260px;
    width: 300px;
    float: left;
}

#matterAbout, #matterServices, #matterClients {
    margin-top: 2px;
    margin-bottom: 15px;
    width: 95%;
}

.aboutImg {
    height: 195px;
    width: 265px;
    margin-left: 20px;
}

#clnt {

    width: 300px;
    height: 300px;
    background-color: rgba(238, 238, 197, 0.07);
    text-align: right;
    box-shadow: 0px 0px 0px #888888;
    margin-left: 45px;
}

.clients {
    background: linear-gradient(white, rgb(229, 226, 226));
    width: 800px;
    margin-top: 10px;
    height: 175px;
    margin-right: 20px;
    border-bottom-left-radius: 135px;
    border-top-right-radius: 135px;
    box-shadow: 3px 2px 1px #888888;
    margin-bottom: 9px;
}


.clientImage {
    float: left;
    height: 175px;
    width: 513px;
    border-bottom-left-radius: 132px;
}
.clientName {
    float: left;
    margin-left: 78px;
    margin-top: 70px;
    font-weight: bold;
    font-size: 25px;
    color: brown;
    text-shadow: 2px 2px 1px burlywood;
}

.inputClass
{
    margin-left: 40px;

}
#enquiryform
{
    margin-left: -25px;
    float: left;
    margin-top: 200px;
}
#contact {
    width: 245px;
    margin: 0 auto;
    margin-top: 200px;
    float: right;
    margin-right: 231px;
}
#pargcontact
{
    color: rgb(209, 65, 99);

}

.saleContainer{

}

.typeContainer{
    height: 225px;
    width: 425px;
    color: white;
    float: left;
    background: linear-gradient(rgb(70, 67, 67), rgb(122, 115, 115));
    margin-right: 19px;
    box-shadow: 0px 0px 2px 3px blueviolet;
    padding-left: 42px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.typeContainer h3{
    color: white;
}
.imgContainer{

}

.salesImg{
    height: 120px;
    width: 125px;
}

.iconContainer{
    float: left;
    transform: rotate(-8deg);
    margin-right: 8px;
    box-shadow: 0 0 4px 3px purple;
}
#footer
{
    width: 940px;
    float: left;
    margin-left: 190px;
}

.mrqe{
    width: 935px;
}
